[report]
omit = 
    */python?.?/*
    */site-packages/nose/*
    */openpathsampling/*
    */dynamiq_engine/*
    */pywigner/tests/*
exclude_lines = 
    pragma: no cover
    pragma: no-cover
    pragma: nocover
    def __repr__
    raise NotImplementedError
